:root {
  --main-text-color: black;
  --secondary-text-color: white;
  --main-background: white;
  --secondary-background: black;
  --light-grey: #333;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;

  margin: 0;
  padding: 1rem;
  gap: 2rem;
}

.content {
  max-width: 80rem;
  margin: 0 auto;
}

header {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  min-width: 60rem;
  flex-wrap: wrap;
}

@media (max-width: 60rem) {
  header{
    min-width: auto;
  }
}

.main-image {
  max-width: 40rem;
}

.product-text {
  max-width: 24rem;
}

a {
  color: var(--main-text-color);
}

.product {
  display: flex;
  gap: 1rem;
}

footer {
  /* sticky footer (with grid) */
  grid-row-start: 2;
  grid-row-end: 3;

  background-color: var(--secondary-background);
  color: var(--secondary-text-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  max-width: 45rem;
  margin: auto;
}

.footer-container>a {
  color: var(--secondary-text-color);
}

@media (max-width: 60rem) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

nav {
  display: flex;
  gap: 1rem;
}

.nav-element-container {
  display: flex;
}

hr {
  border-top: 1px solid var(--secondary-background);
}

@media (max-width: 60rem) {
  .product{
    flex-direction: column;
  }
  .main-image{
    max-width: 25rem;
  }
}

.item-img {
  max-width: 15rem;
  margin-right: 1rem;
}

.item {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.checkout-button {
  float: right;
}

.order-button {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background);
  border: none;
  padding: 1rem;
  text-decoration: none;
}

.order-button:hover {
  background-color: var(--light-grey);
  cursor: pointer;
}

.checkout-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
}

.checkout-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  flex-direction: column;
}

@media (max-width: 60rem) {
  .checkout-container {
    grid-template-columns: 1fr;
  }
  .checkout-form {
    grid-template-columns: 1fr;
  }
}

.shopping-cart-form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border: 1px solid var(--secondary-background);
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item>input {
  border-radius: 0;
  padding: 1rem;
  border: solid 1px var(--secondary-background);
}

.form-button {
  margin-top: 2rem;
  float: right;
}

.success-heading {
  font-size: 5rem;
}

.success-text {
  font-size: 1.5rem;
}

.success-container {
  max-width: 40rem;
}

.product {
  margin-top: 2rem;
}

.main-page-button {
  float: right;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-list>a {
  color: #aaa;
  text-decoration: none;
}

@media (max-width: 40rem) {
  .main-image{
    max-width: 20rem;
  }
  .success-heading {
    font-size: 3rem;
  }
  .success-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 25rem) {
  .main-image{
    max-width: 15rem;
  }
}

.total-container {
  display: flex;
  gap: 2rem;
  float: right;
}
